body.in-maintenance {background: #333 url("../images/installation-bg.png") repeat 0 0;}
body.in-maintenance .body-wrapper {background: #333;background: -moz-linear-gradient(top, #666 0%, #333 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666), color-stop(100%, #333));background: -webkit-linear-gradient(top, #666 0%, #333 100%);background: -o-linear-gradient(top, #666 0%, #333 100%);background: -ms-linear-gradient(top, #666 0%, #333 100%);background: linear-gradient(to bottom, #666 0%, #333 100%);}
body.in-maintenance .body-wrapper .page-outer {background: transparent url("../images/installation-bg.png") repeat 0 0;padding: 40px 0;}
body.in-maintenance #branding {-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;box-shadow: none;background: #f4f4f4;border: 1px solid #edebeb;margin: 0;padding: 30px 40px;width: 960px;}
body.in-maintenance #branding h1.page-title {color: #747474;float: right;font-size: 32px;font-weight: 100;line-height: 1em;padding: 10px 0;width: 550px;}
body.in-maintenance #page {-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.28); -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.28);box-shadow: 0 5px 5px rgba(0, 0, 0, 0.28);-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;background: transparent;background: #ffffff;padding: 0;width: 960px;overflow: hidden;}
body.in-maintenance .page-wrapper {padding: 40px;width: 960px;}
body.in-maintenance .logo-wrapper {float: left;}
body.in-maintenance #logo {margin: 0;max-width: 100%;}
body.in-maintenance #sidebar-first {width: 270px;}
body.in-maintenance fieldset .fieldset-wrapper,
body.in-maintenance fieldset.collapsible {border: 1px solid #ccc;padding: 15px;}
body.in-maintenance fieldset .fieldset-wrapper input.form-text,
body.in-maintenance fieldset.collapsible input.form-text {width: 100%;}
body.in-maintenance ol.task-list {background: transparent url("../images/wizard-bg.png") repeat-y 0 0;}
body.in-maintenance ol.task-list li {background: transparent url("../images/tasks-inactive.png") no-repeat 5px 4px; color: #9a9a9a;font: normal 400 16px/18px "Open Sans", Arial, sans-serif;height: 30px;padding: 6px 0 0 40px;margin: 0 0 22px 0;}
body.in-maintenance ol.task-list li.active {background: transparent url("../images/tasks-active.png") no-repeat 5px 4px;color: #2e87cd;font-weight:bold;}
body.in-maintenance ol.task-list li.done {background: transparent url("../images/tasks-complete.png") no-repeat 5px 4px;color: #75cd27;}
body.in-maintenance .form-item-install-demo-store .form-radios {float: left;}
body.in-maintenance .form-item-install-demo-store .description {background: transparent url("../images/small-pointer.png") no-repeat 0 3px;margin-left: 80px;padding: 3px 5px 5px 23px;}
body.in-maintenance #edit-notice {clear: both;}
body.in-maintenance div.form-type-password {width: 500px;}
body.in-maintenance .password-strength {width: 15em;}
body.in-maintenance .form-item-extras label[for=edit-extras] {clear: both;}
body.in-maintenance #edit-submit.form-disabled {opacity: .5;cursor: auto;}
body.in-maintenance #install-welcome > div > p {margin-top: 0;}
body.in-maintenance #eula-installation-welcome {background: #f4f4f4;border: 1px solid #edebeb;padding: 0 20px 10px;font-size: .9em;line-height: 1.5em;}
body.in-maintenance #eula-installation-welcome ul {margin-bottom: 20px;}
body.in-maintenance #eula-installation-welcome ul li {margin-bottom: 10px;}
body.in-maintenance #eula-installation-welcome .form-item-eula-accept label.option {line-height: 2em;}
body.in-maintenance #progress {margin-bottom: 50px;}
body.in-maintenance #dfp-wrapper {background: transparent url("../images/install-dfp-message.png") no-repeat 0 45px;min-height: 250px;}
body.in-maintenance .dfp-install-ad {background: transparent url("../images/dfp-offline.png") no-repeat center center;box-shadow: 0 0 1px #333;float: right;height: 250px;width: 300px;}
body.installing-demo-store ol.task-list,
body.importing-content ol.task-list,
body.installing-additional-functionality ol.task-list {background: transparent url("../images/wizard-bg2.png") repeat-y 0 0;}
.progress .filled {background: #333;}
